* {
  letter-spacing: 0.02em;
}

.btn {
  &:hover {
    background-color: var(--bs-natural-90);
  }

  &.btn-dark {
    &:hover {
      border: 1px solid var(--bs-secondary-50);
      background-color: var(--bs-secondary-50);
    }
  }

  &.btn-secondary-50 {
    &:hover {
      border: 1px solid var(--bs-natural-90);
      background-color: var(--bs-natural-90);
    }
  }
}

// common shadow style 
.common-shadow {
  box-shadow: 0px 0px 16px 16px rgba(0,0,0,0.12);
  -webkit-box-shadow: 0px 0px 16px 16px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 0px 16px 16px rgba(0,0,0,0.12);
  -o-box-shadow: 0px 0px 16px 16px rgba(0,0,0,0.12);
}

form {
  .form-check-label {
    font-size: 0.875rem;
  }
  .form-floating > label,p {
    @include media-breakpoint-down(lg) {
      font-size: 0.875rem;
    }
  }
}

// custom from style
.form-check {
  display: flex;
  align-items: center;
  gap: .25rem;
  padding-left: 1.25em;
  margin-bottom: 0.25rem;
}

.form-check .form-check-input {
  float: none;
  margin-left: -1.25rem;
}

.form-check-input {
  --bs-form-check-bg: var(--bs-light);
  margin-bottom: .125em;
}

.form-check-input[type=radio] {
  width: 1.25rem;
  height: 1.25rem;
  border: var(--bs-border-width) solid var(--bs-natural-85);
}

.form-check-input:checked {
  background-color: var(--bs-light);
}

// radio style
.form-check-input:checked[type=radio] {
  background-size: 20px 20px;
  border: var(--bs-border-width) solid var(--bs-primary-60);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%234A69E8'/%3e%3c/svg%3e")
}

// checkbox style

.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%234A69E8' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

// select style
.form-select {
  background-color: var(--bs-light);
  border: var(--bs-border-width) solid var(--bs-natural-85);
  padding: 1rem 2.75rem 1rem .75rem;
  border-radius: var(--bs-border-radius-sm);
  background-position: right 18px center;

  &:focus {
    box-shadow: none;
  }
}

// common form-control
.form-control {
  padding: 1rem .75rem;
  background-color: var(--bs-light);

  &:focus {
    background-color: var(--bs-light);
    box-shadow: none;
  }
  
  &::placeholder {
    background-color: var(--bs-light);
  }
}

// text-area
.form-floating > textarea:focus ~ label::after, 
.form-floating > textarea:not(:placeholder-shown) ~ label::after {
  background-color: var(--bs-light);
}

// floating label
.form-floating > .form-control, .form-floating > .form-control-plaintext {
  padding: 1rem .75rem;
}

.form-floating > label {
  padding: 1rem .75rem;
}

// dropdown
.dropdown {
  .btn {
    padding: 1rem 44px 1rem 1.25rem;
    border: var(--bs-border-width) solid var(--bs-border-color);
    text-align: left;

    &.show {
      border-color: #a5b4f4;
    }
    // background-color: ;

  }

  .dropdown-toggle {
    background-size: 16px 12px;
    background-repeat: no-repeat;
    background-position: right 18px center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    @include media-breakpoint-down(lg)  {
      font-size: 0.875rem;
    }

    &::after {
      content: none;
      border: none;
      margin: 0;
      vertical-align: none;
    }

    &.sort {
      padding: 12px 44px 12px 20px;
      background-position: right 20px center;
      background-size: 20px 20px;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.33333 15V13.3333H11.6667V15H8.33333ZM5 10.8333V9.16667H15V10.8333H5ZM2.5 6.66667V5H17.5V6.66667H2.5Z' fill='%23141A1F'/%3E%3C/svg%3E%0A");
      @include media-breakpoint-down(lg) {
        padding: 0!important;
        background-size: 1.5rem 1.5rem;
        width: 44px;
        height: 44px;
        background-position: center center;
        border: none!important;
      }
    }
  }

  .dropdown-menu {
    background-color: var(--bs-light);
    &.show {
      transform: translate(0px, 68px)!important;
      box-shadow: 0px 0px 16px 16px rgba(0,0,0,0.12);
    }
    .dropdown-item {
      &:hover, &:focus {
        background-color: var(--bs-natural-90);
      }
    }
  }

  .dropdown-toggle.withIcon.sort + .dropdown-menu.show {
    @include media-breakpoint-down(lg) {
      transform: translate(0, 40px)!important;
    }
  }
}

// type = file

.fileInput {

  label {
    position: relative;
    display: flex;
    align-items: center;
    width: 130px;
    border: 1px solid var(--bs-natural-85);
    border-radius: 1rem;
    justify-content: center;
    padding: .75rem 0;
    transition: all .3s ease;
    @include media-breakpoint-down(lg) {
      font-size: 0.875rem;
    }

    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 4px;
      line-height: 0;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16634 13.3333V6.54159L6.99967 8.70825L5.83301 7.49992L9.99967 3.33325L14.1663 7.49992L12.9997 8.70825L10.833 6.54159V13.3333H9.16634ZM4.99967 16.6666C4.54134 16.6666 4.14898 16.5034 3.82259 16.177C3.4962 15.8506 3.33301 15.4583 3.33301 14.9999V12.4999H4.99967V14.9999H14.9997V12.4999H16.6663V14.9999C16.6663 15.4583 16.5031 15.8506 16.1768 16.177C15.8504 16.5034 15.458 16.6666 14.9997 16.6666H4.99967Z' fill='%23141A1F'/%3E%3C/svg%3E%0A");
    }

    &:hover {
      cursor: pointer ;
      border: 1px solid var(--bs-primary-60);
    }
  }
  .form-control {
    display: none;
  }
}

// btn icon style

.btn.btn-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 12px 12px 20px;
  line-height: 1.2;

  &.btn-light {
    border: 1px solid var(--bs-natural-85);
    
    &:hover {
      border: 1px solid var(--bs-dark);
      background-color: var(--bs-dark);
      color: var(--bs-light);

      &:hover:after{
        background-image: url("data:image/svg+xml,%0A%3Csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.16699 5.1656e-07L6.16699 5L1.16699 10L0.000325782 8.83333L3.83366 5L0.000326452 1.16667L1.16699 5.1656e-07Z' fill='%23FCFCFD'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 4px;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 7px 10px;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.16699 5.1656e-07L6.16699 5L1.16699 10L0.000325782 8.83333L3.83366 5L0.000326452 1.16667L1.16699 5.1656e-07Z' fill='%23141A1F'/%3E%3C/svg%3E%0A");
  }

  &.btn-dark:after {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.16699 5.1656e-07L6.16699 5L1.16699 10L0.000325782 8.83333L3.83366 5L0.000326452 1.16667L1.16699 5.1656e-07Z' fill='%23FCFCFD'/%3E%3C/svg%3E%0A");
  }
}

// nav-pills
.nav-pills {
  .nav-link {
    background-color: var(--bs-light);
    // padding: 12px 20px;
    color: var(--bs-dark);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    border: 1px solid var(--bs-natural-85);
  
    &.active {
      background-color: var(--bs-natural-90);
      border: 1px solid transparent;
      color: var(--bs-dark);
    }
  
    &.withIcon:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 4px;
      line-height: 0;
      background-position: center center;
      background-repeat: no-repeat;
  
      @include media-breakpoint-down(lg) {
        margin-right: 0;
      }
    }
  
    &.withIcon.profile:before {
      background-image: url("data:image/svg+xml,%0A%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.00033 11.8751C7.70866 11.8751 7.46213 11.7744 7.26074 11.573C7.05935 11.3716 6.95866 11.1251 6.95866 10.8334C6.95866 10.5417 7.05935 10.2952 7.26074 10.0938C7.46213 9.89244 7.70866 9.79175 8.00033 9.79175C8.29199 9.79175 8.53852 9.89244 8.73991 10.0938C8.9413 10.2952 9.04199 10.5417 9.04199 10.8334C9.04199 11.1251 8.9413 11.3716 8.73991 11.573C8.53852 11.7744 8.29199 11.8751 8.00033 11.8751ZM13.0003 11.8751C12.7087 11.8751 12.4621 11.7744 12.2607 11.573C12.0594 11.3716 11.9587 11.1251 11.9587 10.8334C11.9587 10.5417 12.0594 10.2952 12.2607 10.0938C12.4621 9.89244 12.7087 9.79175 13.0003 9.79175C13.292 9.79175 13.5385 9.89244 13.7399 10.0938C13.9413 10.2952 14.042 10.5417 14.042 10.8334C14.042 11.1251 13.9413 11.3716 13.7399 11.573C13.5385 11.7744 13.292 11.8751 13.0003 11.8751ZM10.5003 16.6667C12.3614 16.6667 13.9378 16.0209 15.2295 14.7292C16.5212 13.4376 17.167 11.8612 17.167 10.0001C17.167 9.66675 17.1462 9.34383 17.1045 9.03133C17.0628 8.71883 16.9864 8.41675 16.8753 8.12508C16.5837 8.19453 16.292 8.24661 16.0003 8.28133C15.7087 8.31605 15.4031 8.33342 15.0837 8.33342C13.8198 8.33342 12.6253 8.06258 11.5003 7.52092C10.3753 6.97925 9.41699 6.2223 8.62533 5.25008C8.18088 6.33342 7.54546 7.27439 6.71908 8.073C5.89269 8.87161 4.93088 9.4723 3.83366 9.87508V10.0001C3.83366 11.8612 4.47949 13.4376 5.77116 14.7292C7.06283 16.0209 8.63921 16.6667 10.5003 16.6667ZM10.5003 18.3334C9.34755 18.3334 8.26421 18.1147 7.25033 17.6772C6.23644 17.2397 5.35449 16.6459 4.60449 15.8959C3.85449 15.1459 3.26074 14.264 2.82324 13.2501C2.38574 12.2362 2.16699 11.1529 2.16699 10.0001C2.16699 8.8473 2.38574 7.76397 2.82324 6.75008C3.26074 5.73619 3.85449 4.85425 4.60449 4.10425C5.35449 3.35425 6.23644 2.7605 7.25033 2.323C8.26421 1.8855 9.34755 1.66675 10.5003 1.66675C11.6531 1.66675 12.7364 1.8855 13.7503 2.323C14.7642 2.7605 15.6462 3.35425 16.3962 4.10425C17.1462 4.85425 17.7399 5.73619 18.1774 6.75008C18.6149 7.76397 18.8337 8.8473 18.8337 10.0001C18.8337 11.1529 18.6149 12.2362 18.1774 13.2501C17.7399 14.264 17.1462 15.1459 16.3962 15.8959C15.6462 16.6459 14.7642 17.2397 13.7503 17.6772C12.7364 18.1147 11.6531 18.3334 10.5003 18.3334ZM9.37533 3.43758C9.95866 4.4098 10.7503 5.19105 11.7503 5.78133C12.7503 6.37161 13.8614 6.66675 15.0837 6.66675C15.2781 6.66675 15.4656 6.65633 15.6462 6.6355C15.8267 6.61467 16.0142 6.59036 16.2087 6.56258C15.6253 5.59036 14.8337 4.80911 13.8337 4.21883C12.8337 3.62855 11.7225 3.33341 10.5003 3.33341C10.3059 3.33341 10.1184 3.34383 9.93783 3.36466C9.75727 3.3855 9.56977 3.4098 9.37533 3.43758ZM4.18783 7.89592C4.89616 7.49314 5.51421 6.9723 6.04199 6.33342C6.56977 5.69453 6.9656 4.97925 7.22949 4.18758C6.52116 4.59036 5.9031 5.11119 5.37533 5.75008C4.84755 6.38897 4.45171 7.10425 4.18783 7.89592Z' fill='%23141A1F'/%3E%3C/svg%3E%0A");
    }
  
    &.withIcon.appointment:before {
      background-image: url("data:image/svg+xml,%0A%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6667 18.3333C13.5139 18.3333 12.5312 17.927 11.7188 17.1145C10.9062 16.302 10.5 15.3194 10.5 14.1666C10.5 13.0138 10.9062 12.0312 11.7188 11.2187C12.5312 10.4062 13.5139 9.99992 14.6667 9.99992C15.8194 9.99992 16.8021 10.4062 17.6146 11.2187C18.4271 12.0312 18.8333 13.0138 18.8333 14.1666C18.8333 15.3194 18.4271 16.302 17.6146 17.1145C16.8021 17.927 15.8194 18.3333 14.6667 18.3333ZM16.0625 16.1458L16.6458 15.5624L15.0833 13.9999V11.6666H14.25V14.3333L16.0625 16.1458ZM4.66667 17.4999C4.20833 17.4999 3.81597 17.3367 3.48958 17.0103C3.16319 16.6839 3 16.2916 3 15.8333V4.16659C3 3.70825 3.16319 3.31589 3.48958 2.9895C3.81597 2.66311 4.20833 2.49992 4.66667 2.49992H8.14583C8.29861 2.01381 8.59722 1.6145 9.04167 1.302C9.48611 0.989502 9.97222 0.833252 10.5 0.833252C11.0556 0.833252 11.5521 0.989502 11.9896 1.302C12.4271 1.6145 12.7222 2.01381 12.875 2.49992H16.3333C16.7917 2.49992 17.184 2.66311 17.5104 2.9895C17.8368 3.31589 18 3.70825 18 4.16659V9.37492C17.75 9.19436 17.4861 9.04159 17.2083 8.91659C16.9306 8.79159 16.6389 8.68047 16.3333 8.58325V4.16659H14.6667V6.66659H6.33333V4.16659H4.66667V15.8333H9.08333C9.18056 16.1388 9.29167 16.4305 9.41667 16.7083C9.54167 16.986 9.69444 17.2499 9.875 17.4999H4.66667ZM10.5 4.16659C10.7361 4.16659 10.934 4.08672 11.0938 3.927C11.2535 3.76728 11.3333 3.56936 11.3333 3.33325C11.3333 3.09714 11.2535 2.89922 11.0938 2.7395C10.934 2.57978 10.7361 2.49992 10.5 2.49992C10.2639 2.49992 10.066 2.57978 9.90625 2.7395C9.74653 2.89922 9.66667 3.09714 9.66667 3.33325C9.66667 3.56936 9.74653 3.76728 9.90625 3.927C10.066 4.08672 10.2639 4.16659 10.5 4.16659Z' fill='%23141A1F'/%3E%3C/svg%3E%0A");
    }
  
    &.withIcon.jobPlanning:before {
      background-image: url("data:image/svg+xml,%0A%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.16667 14.1667C7.40278 14.1667 7.60069 14.0868 7.76042 13.9271C7.92014 13.7674 8 13.5694 8 13.3333C8 13.0972 7.92014 12.8993 7.76042 12.7396C7.60069 12.5799 7.40278 12.5 7.16667 12.5C6.93056 12.5 6.73264 12.5799 6.57292 12.7396C6.41319 12.8993 6.33333 13.0972 6.33333 13.3333C6.33333 13.5694 6.41319 13.7674 6.57292 13.9271C6.73264 14.0868 6.93056 14.1667 7.16667 14.1667ZM7.16667 10.8333C7.40278 10.8333 7.60069 10.7535 7.76042 10.5938C7.92014 10.434 8 10.2361 8 10C8 9.76389 7.92014 9.56597 7.76042 9.40625C7.60069 9.24653 7.40278 9.16667 7.16667 9.16667C6.93056 9.16667 6.73264 9.24653 6.57292 9.40625C6.41319 9.56597 6.33333 9.76389 6.33333 10C6.33333 10.2361 6.41319 10.434 6.57292 10.5938C6.73264 10.7535 6.93056 10.8333 7.16667 10.8333ZM7.16667 7.5C7.40278 7.5 7.60069 7.42014 7.76042 7.26042C7.92014 7.10069 8 6.90278 8 6.66667C8 6.43056 7.92014 6.23264 7.76042 6.07292C7.60069 5.91319 7.40278 5.83333 7.16667 5.83333C6.93056 5.83333 6.73264 5.91319 6.57292 6.07292C6.41319 6.23264 6.33333 6.43056 6.33333 6.66667C6.33333 6.90278 6.41319 7.10069 6.57292 7.26042C6.73264 7.42014 6.93056 7.5 7.16667 7.5ZM9.66667 14.1667H14.6667V12.5H9.66667V14.1667ZM9.66667 10.8333H14.6667V9.16667H9.66667V10.8333ZM9.66667 7.5H14.6667V5.83333H9.66667V7.5ZM4.66667 17.5C4.20833 17.5 3.81597 17.3368 3.48958 17.0104C3.16319 16.684 3 16.2917 3 15.8333V4.16667C3 3.70833 3.16319 3.31597 3.48958 2.98958C3.81597 2.66319 4.20833 2.5 4.66667 2.5H16.3333C16.7917 2.5 17.184 2.66319 17.5104 2.98958C17.8368 3.31597 18 3.70833 18 4.16667V15.8333C18 16.2917 17.8368 16.684 17.5104 17.0104C17.184 17.3368 16.7917 17.5 16.3333 17.5H4.66667ZM4.66667 15.8333H16.3333V4.16667H4.66667V15.8333Z' fill='%23141A1F'/%3E%3C/svg%3E%0A");
    }
  }
}

// Modal Style {
.modal {

}

// btn-close 
.btn-close {
  opacity: 1;
}


// table style

.table {
  thead th {
    font-size: .875rem;
    font-weight: 500;
    padding: .75rem;
  }

  td {
    font-size: 1rem;
  }

  &.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-bg-type: var(--bs-light);
  }

  &.table-striped > tbody > tr:nth-of-type(even) > * {
    --bs-table-bg-type: var(--bs-natural-90);
  }

  &.table-hover > tbody > tr:hover > * {
    --bs-table-bg-state: var(--bs-primary-90);
  }

  tr.finish {
    & > * {
      color: var(--bs-natural-60);
    }
  }

  &.table.table-hover > tbody > tr.finish:hover > * {
    --bs-table-bg-state: inherit!important;
  }

  &.table-jobPlan {
    tr {
      @include media-breakpoint-down(lg) {
        display: flex;
        flex-wrap: wrap;
      }

      & > td,
      & > th {
        @include media-breakpoint-down(lg) {
          border: none;
          display: block;
          
        }
      }

      & > *:nth-child(1) {
        @include media-breakpoint-down(lg) {
          order: 1;
          padding: 10px 24px 10px 8px;
        }
      }
      
      & > *:nth-child(2) {
        @include media-breakpoint-down(lg) {
          padding: 12px 8px;
          order: 3;
        }
      }

      & > *:nth-child(3) {
        @include media-breakpoint-down(lg) {
          padding: 12px 8px;
          text-align: left;
          order: 4;
        }
      }

      & > *:nth-child(4) {
        @include media-breakpoint-down(lg) {
          order: 2;
          padding: 10px 8px;
          // min-width: 100px;
          text-align: right;
          margin-left: auto;
        }
      }

      & > *:nth-child(5) {
        @include media-breakpoint-down(lg) {
          order: 5;
          width: 100%;
        }
      }

    }
  }

  &.table.table-jobPlan.table-hover > tbody > tr:hover > *,
  &.table.table-jobPlan.table-hover > tbody > tr > * {
    @include media-breakpoint-down(lg) {
      --bs-table-bg-state: inherit!important;
      // --bs-table-bg-type: inherit!important;
    }
  }

  &.table-striped > tbody > tr:nth-of-type(even) {
    background-color: var(--bs-natural-90);
  }
}