<section class="py-8">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="bg-primary-60 rounded-5 py-4 py-lg-6 px-6 px-lg-9 d-flex flex-column gap-4 gap-lg-6">
          <div style="border-bottom: 1px dashed #D1D9E1;">
            <img src="/assets/images/logo-icon-w.svg" class="img-fluid mb-6" alt="裝修背景">
            <p class="text-light mb-3 fs-3 fs-lg-2 fw-bold">邁向你真正想過的生活，從這裡開始</p>
            <p class="text-light mb-6">第一次諮詢只要 30 分鐘，可能改變你未來 30 年的生活方式</p>
          </div>
          
          <div class="d-flex justify-content-lg-between flex-wrap flex-lg-nowrap gap-6 gap-lg-0">
            <div class="w-100 w-lg-auto">
              <ul class="mb-0 list-unstyled d-flex flex-wrap gap-4 gap-lg-6">
                <li class="d-flex gap-2 w-100 w-lg-auto"><img src="/assets/images/call.png" class="img-fluid" style="width: 24px;" alt=""><a
                    class="text-light text-decoration-none fs-6 fs-lg-5 fw-medium lh-sm" href="tel:0800-123-123">0800-123-123</a></li>
                <li class="d-flex gap-2 w-100 w-lg-auto"><img src="/assets/images/mail.png" class="img-fluid" style="width: 24px;" alt="Sample@mail.com"><a
                    class="text-light text-decoration-none fs-6 fs-lg-5 fw-medium lh-sm" href="mailto:Sample@mail.com">Sample@mail.com</a>
                </li>
            </ul>
            </div>
            <button type="button" class="btn btn-dark btn-icon">預約免費職涯探索</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>