header {
  .navbar-nav {
    --bs-nav-link-color: var(--bs-dark)
  }

  .navbar-brand svg{
    @include media-breakpoint-down(lg) {
      max-width: 92px;
      height: auto;
    }
  }

  .navbar-toggler {
    width: 44px;
    height: 44px;
    padding: 0;
    border: 0;
    border-radius: 0;
    transition: all .3s ease-out;
    
    &:hover {
      background-color: var(--bs-natural-75);
    }
    
    &:focus {
      box-shadow: none;
    }
    
    .navbar-toggler-icon {
      position: relative;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  

}