.home-story {

  .container {
    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }
  }

  ul > li {
    max-width: 400px;
  }
  
  img {
    aspect-ratio: 400 / 500;
  }

}

.home-adv {
  span {
    position: relative;
    
    &:after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: rgba(20, 26, 31, .5);
      transition: all .3s ease-in-out;
    }

    
    .hidden-content {
      position: relative;
      z-index: 2;
      opacity: 0;
      transition: all .3s ease-in-out;
    }
    
    &:hover {
      &:after {
        opacity: 1;
      }

      .hidden-content {
        opacity: 1;
      }
    }
    
  }
}

.home-team {
  .position-image {
    top: 140px;
    right: -200px;

    @include media-breakpoint-down(lg) {
      top: inherit;
      bottom: -190px;
      right: -190px; 
    }
  }
}

.home-service {
  .container {
    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }
  }
}

.home-qa {
  background-image: url('/assets/images/index/bg-grid.png');
}