.home-hero {
}

.home-story {

  .container {
    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }
  }

  ul > li {
    max-width: 400px;
  }
  
  img {
    aspect-ratio: 400 / 500;
  }

}