<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
    <title>首頁</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>

      <section id="home-hero" class="home-hero py-9 py-lg-12">
        <div class="container-fluid">
          <div class="mw-816 mx-auto pb-8 position-relative">
            <p class="mb-6 fw-bold lh-sm text-center heading-7 heading-lg-1">一起陪伴、探索 <br>還有你那些未完成的夢</p>
            <div
              class="d-flex align-items-center justify-content-center justify-content-lg-between flex-column flex-lg-row">
              <p class="mb-4 mb-lg-0 text-natural-50 fs-7 fs-lg-6 text-center text-lg-start">自由工作很美，也很難。 <br>我們用 1 對 1
                陪伴，陪你從第一步開始，直到夢想變成日常</p>
              <button class="btn btn-secondary-50 btn-icon">開始你的職旅</button>
            </div>
            <img src="/assets/images/index/gradient-ball.png" alt="裝修背景"
              class="position-absolute top-0 start-50 translate-middle-x mw-350 mw-lg-100 w-100 z-n1">
          </div>
          <div class="row row-cols-1 row-cols-lg-3 gx-6">
            <div class="col d-none d-lg-block">
              <img class="img-fluid h-100" src="/assets/images/index/hero-1.png" alt="hero-1">
            </div>
            <div class="col d-none d-lg-block">
              <img class="img-fluid mb-6" src="/assets/images/index/hero-2.png" alt="hero-1">
              <img class="img-fluid" src="/assets/images/index/hero-3.png" alt="hero-1">
            </div>
            <div class="col">
              <img class="img-fluid h-100" src="/assets/images/index/hero-4.png" alt="hero-1">
            </div>
          </div>
        </div>
      </section>

      <section id="home-story" class="home-story py-9 py-lg-12 overflow-hidden position-relative">
        <div class="container">
          <div class="row row-gap-6 flex-wrap flex-lg-nowrap position-relative z-2">
            <div class="col-12 col-lg-4">
              <div class="d-flex flex-column justify-content-center h-100 gap-4 gap-lg-6">
                <picture>
                  <img src="/assets/images/logo-icon.svg" class="img-fluid lh-0 d-none d-lg-inline-block"
                    alt="logo icon" aria-hidden="true">
                  <img src="/assets/images/logo-icon.svg" class="img-fluid lh-0 d-lg-inline-block d-lg-none mw-48"
                    alt="logo icon" aria-hidden="true">
                </picture>
                <h2 class="fs-2 fs-lg-1 fw-bold mb-0">他們已經踏上職旅<br class="d-block d-lg-none">聽聽他們的故事</h2>
                <p class="mb-0 text-natural-50 fs-7 fs-lg-6">每一段職涯轉型都有獨特挑戰，這些曾經與你有相同疑惑的夥伴，現在正過著他們嚮往的生活</p>
              </div>
            </div>
            <div class="col-lg-8 w-fit-content">
              <div class="swiper p-3">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="card common-shadow-sm">
                      <span class="badge position-absolute bg-primary-60 start-3 top-3">數位遊牧 2 年</span>
                      <img src="/assets/images/index/story-cover-1.png" class="card-img-top" alt="郭敏迪">
                      <div class="card-body d-flex flex-column px-4 pt-4 pb-6">
                        <h3 class="fw-bold mb-4 fs-5 fs-lg-4">轉型成功的設計師</h3>
                        <p class="card-text text-natural-50 fs-8">
                          從企業設計師轉職自由接案，比我想的難太多。收入不穩時我幾乎想放棄，是職旅顧問幫我找回方向與差異化。半年後，我不僅維持收入，還能自由挑案，最重要的是，我終於有時間陪爸媽。</p>
                        <p class="mb-0 mt-auto d-flex align-items-center gap-2">
                          <span class="d-block fw-bold fs-8 fs-lg-7">視覺設計師</span>
                          <span class="d-block border-start border-natural-85 ps-2 fs-8">郭敏迪 (34y)</span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card common-shadow-sm">
                      <span class="badge position-absolute bg-primary-60 start-3 top-3">數位遊牧 2 年</span>
                      <img src="/assets/images/index/story-cover-2.png" class="card-img-top" alt="林雨潔">
                      <div class="card-body d-flex flex-column px-4 pt-4 pb-6">
                        <h3 class="fw-bold mb-4 fs-5 fs-lg-4">數位遊牧生活實踐者</h3>
                        <p class="card-text text-natural-50 fs-8">
                          兩年前我只想環遊世界，卻不知道怎麼開始。職旅給了我遠端工作與生活規劃的指導。現在我在五個國家工作過，收入比以前多 20%。每次打開電腦，看見窗外不同的風景，都慶幸當初那一個決定。</p>
                        <p class="mb-0 mt-auto d-flex align-items-center gap-2">
                          <span class="d-block fw-bold fs-8 fs-lg-7">內容策略師</span>
                          <span class="d-block border-start border-natural-85 ps-2 fs-8">林雨潔 (29y)</span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card common-shadow-sm">
                      <span class="badge position-absolute bg-primary-60 start-3 top-3">數位遊牧 2 年</span>
                      <img src="/assets/images/index/story-cover-3.png" class="card-img-top" alt="張世明">
                      <div class="card-body d-flex flex-column px-4 pt-4 pb-6">
                        <h3 class="fw-bold mb-4 fs-5 fs-lg-4">中年轉型的工程師</h3>
                        <p class="card-text text-natural-50 fs-8">
                          59 歲被裁員時，我以為職涯結束了。職旅顧問不只幫我轉職，更讓我相信自己還有價值。現在我每月穩定接案、收入翻倍。年齡不是限制，只是我還沒找到對的方向。</p>
                        <p class="mb-0 mt-auto d-flex align-items-center gap-2">
                          <span class="d-block fw-bold fs-8 fs-lg-7">系統架構顧問</span>
                          <span class="d-block border-start border-natural-85 ps-2 fs-8">張世明 (62y)</span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card common-shadow-sm">
                      <span class="badge position-absolute bg-primary-60 start-3 top-3">數位遊牧 3 年</span>
                      <img src="/assets/images/index/story-cover-4.png" class="card-img-top" alt="">
                      <div class="card-body d-flex flex-column px-4 pt-4 pb-6">
                        <h3 class="fw-bold mb-4 fs-5 fs-lg-4">學生</h3>
                        <p class="card-text text-natural-50 fs-8">
                          59 歲被裁員時，我以為職涯結束了。職旅顧問不只幫我轉職，更讓我相信自己還有價值。現在我每月穩定接案、收入翻倍。年齡不是限制，只是我還沒找到對的方向。</p>
                        <p class="mb-0 mt-auto d-flex align-items-center gap-2">
                          <span class="d-block fw-bold fs-8 fs-lg-7">自媒體工作者</span>
                          <span class="d-block border-start border-natural-85 ps-2 fs-8">曉依 (25y)</span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card common-shadow-sm">
                      <span class="badge position-absolute bg-primary-60 start-3 top-3">數位遊牧 2 年</span>
                      <img src="/assets/images/index/story-cover-5.png" class="card-img-top" alt="李明">
                      <div class="card-body d-flex flex-column px-4 pt-4 pb-6">
                        <h3 class="fw-bold mb-4 fs-5 fs-lg-4">中年轉型的銀行投資顧問</h3>
                        <p class="card-text text-natural-50 fs-8">
                          59 歲被裁員時，我以為職涯結束了。職旅顧問不只幫我轉職，更讓我相信自己還有價值。現在我每月穩定接案、收入翻倍。年齡不是限制，只是我還沒找到對的方向。</p>
                        <p class="mb-0 mt-auto d-flex align-items-center gap-2">
                          <span class="d-block fw-bold fs-8 fs-lg-7">前銀行投資顧問</span>
                          <span class="d-block border-start border-natural-85 ps-2 fs-8">李明 (45y)</span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card common-shadow-sm">
                      <span class="badge position-absolute bg-primary-60 start-3 top-3">數位遊牧 10 年</span>
                      <img src="/assets/images/index/story-cover-6.png" class="card-img-top" alt="">
                      <div class="card-body d-flex flex-column px-4 pt-4 pb-6">
                        <h3 class="fw-bold mb-4 fs-5 fs-lg-4">專業經營自媒體</h3>
                        <p class="card-text text-natural-50 fs-8">
                          59 歲被裁員時，我以為職涯結束了。職旅顧問不只幫我轉職，更讓我相信自己還有價值。現在我每月穩定接案、收入翻倍。年齡不是限制，只是我還沒找到對的方向。</p>
                        <p class="mb-0 mt-auto d-flex align-items-center gap-2">
                          <span class="d-block fw-bold fs-8 fs-lg-7">自媒體工作者</span>
                          <span class="d-block border-start border-natural-85 ps-2 fs-8">大B (32y)</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="h-200 bg-natural-95 w-100 position-absolute bottom-0 start-0 z-n1"></div>
      </section>

      <section class="home-adv bg-natural-95 py-9 py-lg-12">
        <div class="container position-relative">
          <img src="/assets/images/index/adv-vectors.svg" class="img-fluid position-absolute end-0 top-0 d-none d-lg-block" alt="ads-裝飾圖片">
          <div class="mb-9">
            <div class="position-relative mx-auto text-center mb-4 border border-2 bg-light border-primary-60 rounded-3 py-3 fs-6 fs-lg-5 fw-bold text-primary-60 lh-sm question-block" style="width: 120px;">為什麼？</div>
            <h2 class="text-center fs-2 fs-lg-1 mb-0 fw-bold">選擇職旅 WorkWay</h2>
          </div>
          <ul class="mb-6 mb-lg-9 list-unstyled row row-cols-1 row-cols-lg-3 g-lg-6 g-4">
            <li class="col">
              <span class="d-block position-relative rounded-5 overflow-hidden border-bottom-left-0">
                <img src="/assets/images/index/adv-1.png" class="img-fluid" alt="實戰經驗">
                <span class="position-absolute bottom-0 start-0 d-flex align-items-center gap-2 p-3 pe-6 bg-natural-95 border-end-top-12">
                  <img src="/assets/images/index/ads.svg" alt="ads-裝飾Icon" class="img-fluid lh-0">
                  <span class="fs-5 fs-lg-4 fw-bold text-natural-50 lh-sm">實戰經驗</span>
                </span>
                <p class="hidden-content mb-0 text-light text-center px-1 position-absolute top-50 start-50 translate-middle position-relative z-2 mw-368 w-100">我們的顧問都是親身走過這條路的專家，不是紙上談兵的理論家。你所學到的每一個建議，都是經過無數次嘗試與錯誤後萃取的精華。</p>
              </span>
            </li>
            <li class="col">
              <span class="d-block position-relative rounded-5 overflow-hidden border-bottom-left-0">
                <img src="/assets/images/index/adv-2.png" class="img-fluid" alt="全方位支持">
                <span
                  class="position-absolute bottom-0 start-0 d-flex align-items-center gap-2 p-3 pe-6 bg-natural-95 border-end-top-12">
                  <img src="/assets/images/index/ads.svg" alt="ads-裝飾Icon" class="img-fluid lh-0">
                  <span class="fs-5 fs-lg-4 fw-bold text-natural-50 lh-sm">全方位支持</span>
                </span>
                <p class="hidden-content mb-0 text-light text-center px-1 position-absolute top-50 start-50 translate-middle position-relative z-2 mw-368 w-100">從心態調整到實際操作，從品牌建立到財務規劃，我們提供你轉型路上需要的每一塊拼圖，讓不確定感不再阻礙你的決定。</p>
              </span>
            </li>
            <li class="col">
              <span class="d-block position-relative rounded-5 overflow-hidden border-bottom-left-0">
                <img src="/assets/images/index/adv-3.png" class="img-fluid" alt="社群力量">
                <span
                  class="position-absolute bottom-0 start-0 d-flex align-items-center gap-2 p-3 pe-6 bg-natural-95 border-end-top-12">
                  <img src="/assets/images/index/ads.svg" alt="ads-裝飾Icon" class="img-fluid lh-0">
                  <span class="fs-5 fs-lg-4 fw-bold text-natural-50 lh-sm">社群力量</span>
                </span>
                <p class="hidden-content mb-0 text-light text-center px-1 position-absolute top-50 start-50 translate-middle position-relative z-2 mw-368 w-100">加入職旅不只是獲得諮詢，更是連結到一群志同道合的夥伴。在這裡，你的疑惑有人解答，你的成就有人分享，你的旅程不再孤單。</p>
              </span>
            </li>
          </ul>
          <div class="d-flex align-items-center gap-4 gap-lg-6 flex-nowrap">
            <p class="text-natural-50 fw-medium mb-0 fs-8 fs-lg-7">不是套模板的建議，而是為你量身打造的陪伴！</p>
            <div class="bg-natural-85 flex-grow-1 h-1 fs-0"></div>
          </div>
        </div>
      </section>

      <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
  </body>

</html>