<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
    <title>關於職旅</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>

      <div class="container">
        <main class="py-9 py-lg-12">
          <div>
            <ul class="nav nav-pills mb-6 justify-content-center row row-cols-3 gx-4 gx-lg-6 flex-nowrap" id="pills-tab" role="tablist">
              <li class="nav-item col-auto" role="presentation">
                <button class="nav-link withIcon px-3 px-lg-5 py-3 profile" id="pills-profile-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                  aria-selected="true">個人資料</button>
              </li>
              <li class="nav-item col-auto" role="presentation">
                <button class="nav-link withIcon px-3 px-lg-5 py-3 appointment active" id="pills-appointment-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-appointment" type="button" role="tab" aria-controls="pills-appointment"
                  aria-selected="false">預約紀錄</button>
              </li>
              <li class="nav-item col-auto" role="presentation">
                <button class="nav-link withIcon px-3 px-lg-5 py-3 jobPlanning" id="pills-jobPlanning-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-jobPlanning" type="button" role="tab" aria-controls="pills-jobPlanning"
                  aria-selected="false">職旅計劃</button>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                tabindex="0">
                <div class="row justify-content-center">
                  <div class="col-lg-10">
                    <form class="bg-light rounded-4 p-6 p-lg-9 common-shadow">
                      <ul class="list-unstyled mb-0 d-flex flex-column">

                        <li class="px-0">
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="d-flex align-items-center justify-content-between flex-wrap mb-4">
                                <div class="w-lg-100 text-natural-10 fs-5 fs-lg-4 lh-sm fw-medium mb-0 mb-lg-3">個人資料
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-8">
                              <div class="mb-4 mb-lg-6">
                                <div class="d-flex align-items-end">
                                  <img class="d-block lh-0 me-4" src="/assets/images/user_pic.png" style="width: 120px;"
                                    alt="">
                                  <div class="fileInput">
                                    <label for="upload-personal-image" class="form-label">
                                      <span>上傳檔案</span>
                                      <input class="form-control " type="file" id="upload-personal-image"
                                        placeholder="更新頭貼">
                                    </label>
                                  </div>
                                </div>
                              </div>
                              <div class="mb-4 mb-lg-6">
                                <div class="form-floating">
                                  <input type="text" class="form-control" id="profile-name" placeholder="姓名"
                                    value="Mokumaru">
                                  <label for="profile-name">姓名</label>
                                </div>
                              </div>
                              <div class="mb-4 mb-lg-6">
                                <p class="mb-2">性別</p>
                                <ul class="list-unstyled mb-0 row gy-2 gx-6">
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="profileSex"
                                        id="profileSexItem1" checked>
                                      <label class="form-check-label" for="profileSexItem1">女性</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="profileSex"
                                        id="profileSexItem2">
                                      <label class="form-check-label" for="profileSexItem2">男性</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="profileSex"
                                        id="profileSexItem3">
                                      <label class="form-check-label" for="profileSexItem3">不願透露</label>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="mb-4 mb-lg-6">
                                <div class="form-floating">
                                  <input type="date" class="form-control" id="birthdate" name="birthdate"
                                    min="1800-01-01" max="2025-12-31" value="2000/01/10">
                                  <label for="profile-birthday">生日</label>
                                </div>
                              </div>
                              <div class="mb-4 mb-lg-6">
                                <p class="mb-2">密碼</p>
                                <button type="button" class="btn btn-light btn-icon" id="changePassword">修改密碼</button>
                              </div>
                              <div class="mb-4 mb-lg-6">
                                <div class="form-floating">
                                  <input type="eamil" class="form-control" id="profile-email" placeholder="信箱"
                                    value="mokumaru@mail.com">
                                  <label for="profile-email">信箱</label>
                                </div>
                                <p class="mb-0 fs-8 text-natural-50">盡量勿使用Yahoo或Hotmail郵件信箱，以免因擋信、漏信</p>
                              </div>
                              <div class="mb-4 mb-lg-6">
                                <div class="form-floating">
                                  <input type="tel" class="form-control" id="profile-phone" placeholder="聯絡電話"
                                    value="09-1234-5678">
                                  <label for="profile-phone">聯絡電話</label>
                                </div>
                              </div>
                              <div class="mb-12 mb-lg-9">
                                <div class="form-floating">
                                  <input type="tel" class="form-control" id="profile-address" placeholder="通訊地址"
                                    value="高雄市三民區九如一路 87 號">
                                  <label for="profile-address">通訊地址</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                      <div class="row justify-content-center gy-4">
                        <div class="col-12 col-lg-auto order-2 order-lg-1">
                          <button type="button" class="btn btn-light btn-icon w-100 reset">重新填寫</button>
                        </div>
                        <div class="col-12 col-lg-auto order-1 order-lg-2">
                          <button type="button" class="btn btn-dark btn-icon w-100">儲存更新</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade show active" id="pills-appointment" role="tabpanel"
                aria-labelledby="pills-appointment-tab" tabindex="0">
                <div class="row justify-content-center">
                  <div class="col-lg-10">
                    <div class="bg-light rounded-4 p-6 p-lg-9 common-shadow">
                      <h2 class="fs-5 fs-lg-4 mb-4 mb-lg-6">預約紀錄</h2>
                      <ul class="list-unstyled mb-6 mb-lg-9 row row-cols-lg-3 g-6">
                        <li class="d-none d-lg-block col">
                          <div class="border border-natural-85 rounded-4 p-2 text-center">
                            <span class="d-block mb-2 text-primary-60 fs-3 fs-lg-2 fw-bold">3</span>
                            <span class="d-block text-natural-50 fs-7 fs-lg-6">已完成諮詢</span>
                          </div>
                        </li>
                        <li class="col">
                          <div class="border border-natural-85 rounded-4 p-2 text-center">
                            <span class="d-block mb-2 text-primary-60 fs-3 fs-lg-2 fw-bold">2025/10/10</span>
                            <span class="d-block text-natural-50 fs-7 fs-lg-6">即將到來</span>
                          </div>
                        </li>
                        <li class="d-none d-lg-block col">
                          <div class="border border-natural-85 rounded-4 p-2 text-center">
                            <span class="d-block mb-2 text-primary-60 fs-3 fs-lg-2 fw-bold">3/6</span>
                            <span class="d-block text-natural-50 fs-7 fs-lg-6">使用方案進度</span>
                          </div>
                        </li>
                      </ul>
                      <div class="d-flex justify-content-between align-items-center mb-4 mb-lg-6">
                        <div class="row row-col-3 gx-2">
                          <div class="col-auto"><button class="btn btn-dark border lh-sm fs-8 fs-lg-7 p-3 px-lg-5"
                              type="button">全部預約</button></div>
                          <div class="col-auto"><button class="btn btn-light border lh-sm fs-8 fs-lg-7 p-3 px-lg-5"
                              type="button">已完成</button></div>
                          <div class="col-auto"><button class="btn btn-light border lh-sm fs-8 fs-lg-7 p-3 px-lg-5"
                              type="button">已取消</button></div>
                        </div>
                        <div class="dropdown">
                          <button class="btn border dropdown-toggle withIcon sort rounded-3 lh-sm fs-0 fs-lg-7"
                            type="button" data-bs-toggle="dropdown" aria-expanded="false">排序</button>
                          <ul class="dropdown-menu w-100">
                            <li><a class="dropdown-item" href="javascript:;" data-option="新到舊">新到舊</a></li>
                            <li><a class="dropdown-item" href="javascript:;" data-option="舊到新">舊到新</a></li>
                          </ul>
                        </div>
                      </div>
                      <table class="table-jobPlan table table-light table-striped table-hover w-100">
                        <thead>
                          <tr>
                            <th scope="col" class="w-100 w-lg-auto"><span class="d-none d-lg-block">諮詢方案</span><span
                                class="d-block d-lg-none">預約紀錄一覽</span></th>
                            <th scope="col" class="d-none d-lg-table-cell">預約日期</th>
                            <th scope="col" class="d-none d-lg-table-cell">諮詢時長</th>
                            <th scope="col" class="d-none d-lg-table-cell">諮詢方式</th>
                            <th scope="col" class="d-none d-lg-table-cell">上課狀態</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="">
                            <th scope="row" class="px-3 py-4 fw-normal">職涯定位-職涯探索包 | 6/6堂</th>
                            <td class="px-3 py-4"><span class="d-inline-block d-lg-none me-1">時間：</span>2025/11/11</td>
                            <td class="px-3 py-4"><span class="d-inline-block d-lg-none me-1">時長：</span>60分鐘</td>
                            <td class="px-3 py-4"><span
                                class="d-inline-block px-2 py-1 text-natural-50 bg-light text-natural-85 fs-8 border rounded-3 text-center">視訊</span>
                            </td>
                            <td class="px-3 py-4">等待上課</td>
                          </tr>
                          <tr class="">
                            <th scope="row" class="px-3 py-4 fw-normal">職涯定位-職涯探索包 | 5/6堂</th>
                            <td class="px-3 py-4"><span class="d-inline-block d-lg-none me-1">時間:</span>2025/10/10</td>
                            <td class="px-3 py-4"><span class="d-inline-block d-lg-none me-1">時長：</span>60分鐘</td>
                            <td class="px-3 py-4"><span
                                class="d-inline-block px-2 py-1 text-natural-50 bg-light text-natural-85 fs-8 border rounded-3 text-center">視訊</span>
                            </td>
                            <td class="px-3 py-4">等待上課</td>
                          </tr>
                          <tr class="finish">
                            <th scope="row" class="px-3 py-4 fw-normal">職涯定位-職涯探索包 | 4/6堂</th>
                            <td class="px-3 py-4"><span class="d-inline-block d-lg-none me-1">時間：</span>2025/09/09</td>
                            <td class="px-3 py-4"><span class="d-inline-block d-lg-none me-1">時長：</span>60分鐘</td>
                            <td class="px-3 py-4"><span
                                class="d-inline-block px-2 py-1 text-natural-50 bg-light text-natural-85 fs-8 border rounded-3 text-center">視訊</span>
                            </td>
                            <td class="px-3 py-4">己完成</td>
                          </tr>
                          <tr class="finish">
                            <th scope="row" class="px-3 py-4 fw-normal">職涯定位-職涯探索包 | 3/6堂</th>
                            <td class="px-3 py-4"><span class="d-inline-block d-lg-none me-1">時間：</span>2025/08/08</td>
                            <td class="px-3 py-4"><span class="d-inline-block d-lg-none me-1">時長：</span>60分鐘</td>
                            <td class="px-3 py-4"><span
                                class="d-inline-block px-2 py-1 text-natural-50 bg-light text-natural-85 fs-8 border rounded-3 text-center">面對面</span>
                            </td>
                            <td class="px-3 py-4">己完成</td>
                          </tr>
                          <tr class="finish">
                            <th scope="row" class="px-3 py-4 fw-normal">職涯定位-職涯探索包 | 2/6堂</th>
                            <td class="px-3 py-4"><span class="d-inline-block d-lg-none me-1">時間：</span>2025/07/07</td>
                            <td class="px-3 py-4"><span class="d-inline-block d-lg-none me-1">時長：</span>60分鐘</td>
                            <td class="px-3 py-4"><span
                                class="d-inline-block px-2 py-1 text-natural-50 bg-light text-natural-85 fs-8 border rounded-3 text-center">面對面</span>
                            </td>
                            <td class="px-3 py-4">己完成</td>
                          </tr>
                          <tr class="finish">
                            <th scope="row" class="px-3 py-4 fw-normal">職涯定位-職涯探索包 | 1/6堂</th>
                            <td class="px-3 py-4"><span class="d-inline-block d-lg-none me-1">時間：</span>2025/06/06</td>
                            <td class="px-3 py-4"><span class="d-inline-block d-lg-none me-1">時長：</span>60分鐘</td>
                            <td class="px-3 py-4"><span
                                class="d-inline-block px-2 py-1 text-natural-50 bg-light text-natural-85 fs-8 border rounded-3 text-center">面對面</span>
                            </td>
                            <td class="px-3 py-4">己完成</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="tab-pane fade" id="pills-jobPlanning" role="tabpanel" aria-labelledby="pills-jobPlanning-tab"
                tabindex="0">
                <div class="row justify-content-center">
                  <div class="col-lg-10">
                    <form class="bg-light rounded-4 p-6 p-lg-9 common-shadow">
                      <ul class="list-unstyled mb-0 d-flex flex-column">
                        <li class="px-0 border-bottom border-natural-85 mb-6 mb-lg-9">
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="d-flex align-items-center justify-content-between flex-wrap mb-4">
                                <div class="w-lg-100 text-natural-10 fs-5 fs-lg-4 lh-sm fw-medium mb-0 mb-lg-3">職旅計劃概況
                                </div>
                                <div class="row gx-1">
                                  <div class="col-auto">
                                    <span class="text-natural-50">欄位皆為</span>
                                  </div>
                                  <div class="col-auto">
                                    <span class="badge text-bg-danger">必填</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-8">
                              <div class="mb-4 mb-lg-6">
                                <p class="mb-2">目前職業狀態</p>
                                <ul class="list-unstyled mb-0 row gy-2 gx-6">
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="currentJob"
                                        id="currentJobItem1" checked>
                                      <label class="form-check-label" for="currentJobItem1">全職上班族</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="currentJob"
                                        id="currentJobItem2">
                                      <label class="form-check-label" for="currentJobItem2">兼職工作者</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="currentJob"
                                        id="currentJobItem3">
                                      <label class="form-check-label" for="currentJobItem3">自由工作者/接案者</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="currentJob"
                                        id="currentJobItem4">
                                      <label class="form-check-label" for="currentJobItem4">數位遊牧者</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="currentJob"
                                        id="currentJobItem5">
                                      <label class="form-check-label" for="currentJobItem5">創業者/企業主</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="currentJob"
                                        id="currentJobItem6">
                                      <label class="form-check-label" for="currentJobItem6">待業中</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="currentJob"
                                        id="currentJobItem6">
                                      <label class="form-check-label" for="currentJobItem6">其他</label>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="mb-4 mb-lg-6">
                                <div class="dropdown">
                                  <button class="btn dropdown-toggle w-100 rounded-3" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">工作產業</button>
                                  <ul class="dropdown-menu w-100">
                                    <li><a class="dropdown-item" href="javascript:;" data-option="科技">科技</a></li>
                                    <li><a class="dropdown-item" href="javascript:;" data-option="教育">教育</a></li>
                                    <li><a class="dropdown-item" href="javascript:;" data-option="金融">金融</a></li>
                                    <li><a class="dropdown-item" href="javascript:;" data-option="醫療健康">醫療健康</a></li>
                                    <li><a class="dropdown-item" href="javascript:;" data-option="零售製造">零售製造</a></li>
                                    <li><a class="dropdown-item" href="javascript:;" data-option="服務業">服務業</a></li>
                                    <li><a class="dropdown-item" href="javascript:;" data-option="非營利組織">非營利組織</a></li>
                                  </ul>
                                </div>
                              </div>
                              <div class="mb-4 mb-lg-6">
                                <div class="dropdown">
                                  <button class="btn dropdown-toggle w-100 rounded-3" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">工作年資</button>
                                  <ul class="dropdown-menu w-100">
                                    <li><a class="dropdown-item" href="javascript:;" data-option="1年以下">1年以下</a></li>
                                    <li><a class="dropdown-item" href="javascript:;" data-option="1-3年">1-3年</a></li>
                                    <li><a class="dropdown-item" href="javascript:;" data-option="3-5年">3-5年</a></li>
                                    <li><a class="dropdown-item" href="javascript:;" data-option="5-10年">5-10年</a></li>
                                    <li><a class="dropdown-item" href="javascript:;" data-option="10年以上">10年以上</a></li>
                                  </ul>
                                </div>
                              </div>
                              <div class="mb-4 mb-lg-6">
                                <p class="mb-2">月收入區間</p>
                                <ul class="list-unstyled mb-0 row gy-2 gx-6">
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="income" id="incomeItem1"
                                        checked>
                                      <label class="form-check-label" for="incomeItem1">3 萬以下</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="income" id="incomeItem2">
                                      <label class="form-check-label" for="incomeItem2">3-5 萬</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="income" id="incomeItem3">
                                      <label class="form-check-label" for="incomeItem3">5-8 萬</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="income" id="incomeItem4">
                                      <label class="form-check-label" for="incomeItem4">8-12 萬</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="income" id="incomeItem5">
                                      <label class="form-check-label" for="incomeItem5">12-20 萬</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="income" id="incomeItem6">
                                      <label class="form-check-label" for="incomeItem6">20 萬以上</label>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="mb-4 mb-lg-6">
                                <div class="form-floating">
                                  <textarea class="form-control" placeholder="職業摘要（簡短描述您的專業背景和核心競爭力最多 300 字）"
                                    id="jobRef" style="height: 160px; resize: none;"></textarea>
                                  <label for="jobRef">職業摘要（簡短描述您的專業背景和核心競爭力最多 300 字）</label>
                                </div>
                              </div>
                              <div class="mb-4 mb-lg-6">
                                <input class="form-control fs-8 fs-lg-7" type="text" value="作品案例展示" aria-label="作品案例展示"
                                  readonly />
                              </div>
                              <div class="mb-6 mb-lg-9">
                                <div class="fileInput">
                                  <p class="mb-2">附件檔案</p>
                                  <label for="attFile" class="form-label">
                                    <span>上傳檔案</span>
                                    <input class="form-control " type="file" id="attFile" placeholder="上傳檔案">
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="px-0 border-bottom border-natural-85 mb-6 mb-lg-9">
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="d-flex align-items-center justify-content-between flex-wrap mb-4">
                                <div class="w-lg-100 text-natural-10 fs-5 fs-lg-4 lh-sm fw-medium mb-0 mb-lg-3">職涯規劃
                                </div>
                                <div class="row gx-1">
                                  <div class="col-auto">
                                    <span class="text-natural-50">欄位皆為</span>
                                  </div>
                                  <div class="col-auto">
                                    <span class="badge text-bg-danger">必填</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-8">
                              <div class="mb-4 mb-lg-6">
                                <div class="form-floating">
                                  <textarea class="form-control" placeholder="1 年短期職涯目標（最多 300 字）" id="careerGoals"
                                    style="height: 160px; resize: none;"></textarea>
                                  <label for="careerGoals">1 年短期職涯目標（最多 300 字）</label>
                                </div>
                              </div>
                              <div class="mb-4 mb-lg-6">
                                <div class="form-floating">
                                  <textarea class="form-control" placeholder="1-3 年中長期職涯願景（最多 300 字）"
                                    id="longCareerGoals" style="height: 160px; resize: none;"></textarea>
                                  <label for="longCareerGoals">1-3 年中長期職涯願景（最多 300 字）</label>
                                </div>
                              </div>
                              <div class="mb-4 mb-lg-6">
                                <p class="mb-2">理想工作模式</p>
                                <ul class="list-unstyled mb-0 row gy-2 gx-6">
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="workMode" id="workModeItem1"
                                        checked>
                                      <label class="form-check-label" for="workModeItem1">固定辦公室工作</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="workMode" id="workModeItem2">
                                      <label class="form-check-label" for="workModeItem2">混合式工作(辦公室+遠端)</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="workMode" id="workModeItem3">
                                      <label class="form-check-label" for="workModeItem3">完全遠端工作(固定地點)</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="workMode" id="workModeItem4">
                                      <label class="form-check-label" for="workModeItem4">數位遊牧(邊工作邊旅行)</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="workMode" id="workModeItem5">
                                      <label class="form-check-label" for="workModeItem5">其他(請說明)</label>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="mb-6 form-floating">
                                <input type="email" class="form-control" id="expectSalary" placeholder="目標薪資/收入">
                                <label for="expectSalary">目標薪資/收入</label>
                              </div>
                              <div class="mb-4 mb-lg-6">
                                <p class="mb-2">目前面臨的職涯挑戰</p>
                                <ul class="list-unstyled mb-0 row gy-2 gx-6">
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="workChallenge"
                                        id="workChallengeItem1">
                                      <label class="form-check-label" for="workChallengeItem1">方向不明確</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="workChallenge"
                                        id="workChallengeItem2">
                                      <label class="form-check-label" for="workChallengeItem2">技能需要提升</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="workChallenge"
                                        id="workChallengeItem3">
                                      <label class="form-check-label" for="workChallengeItem3">收入不穩定</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="workChallenge"
                                        id="workChallengeItem4">
                                      <label class="form-check-label" for="workChallengeItem4">客戶開發困難</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="workChallenge"
                                        id="workChallengeItem5">
                                      <label class="form-check-label" for="workChallengeItem5">時間管理問題</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="workChallenge"
                                        id="workChallengeItem6">
                                      <label class="form-check-label" for="workChallengeItem6">工作生活失衡</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="workChallenge"
                                        id="workChallengeItem7">
                                      <label class="form-check-label" for="workChallengeItem7">缺乏人脈資源</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="workChallenge"
                                        id="workChallengeItem8">
                                      <label class="form-check-label" for="workChallengeItem8">其他(請說明)</label>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="mb-4 mb-lg-6">
                                <p class="mb-2">期望獲得的協助與資源</p>
                                <ul class="list-unstyled mb-0 row gy-2 gx-6">
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="workResource"
                                        id="workResourceItem1">
                                      <label class="form-check-label" for="workResourceItem1">職涯方向指導</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="workResource"
                                        id="workResourceItem2">
                                      <label class="form-check-label" for="workResourceItem2">專業技能提升建議</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="workResource"
                                        id="workResourceItem3">
                                      <label class="form-check-label" for="workResourceItem3">個人品牌建立</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="workResource"
                                        id="workResourceItem4">
                                      <label class="form-check-label" for="workResourceItem4">接案策略與定價</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="workResource"
                                        id="workResourceItem5">
                                      <label class="form-check-label" for="workResourceItem5">客戶開發方法</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="workResource"
                                        id="workResourceItem6">
                                      <label class="form-check-label" for="workResourceItem6">財務規劃</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="workResource"
                                        id="workResourceItem7">
                                      <label class="form-check-label" for="workResourceItem7">時間管理系統</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="workResource"
                                        id="workResourceItem8">
                                      <label class="form-check-label" for="workResourceItem8">工作生活平衡</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="workResource"
                                        id="workResourceItem9">
                                      <label class="form-check-label" for="workResourceItem9">其他(請說明)</label>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="mb-6 mb-lg-9">
                                <p class="mb-2">感興趣的服務方案</p>
                                <ul class="list-unstyled mb-0 row gy-2 gx-6">
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="servicePlan"
                                        id="servicePlanItem1">
                                      <label class="form-check-label" for="servicePlanItem1">探索定位</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="servicePlan"
                                        id="servicePlanItem2">
                                      <label class="form-check-label" for="servicePlanItem2">客製化方案</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="servicePlan"
                                        id="servicePlanItem3">
                                      <label class="form-check-label" for="servicePlanItem3">實戰指導</label>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="px-0 border-bottom border-natural-85 mb-6 mb-lg-9">
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="d-flex align-items-center justify-content-between flex-wrap mb-4">
                                <div class="w-lg-100 text-natural-10 fs-5 fs-lg-4 lh-sm fw-medium mb-0 mb-lg-3">專業技能區塊
                                </div>
                                <div class="row gx-1">
                                  <div class="col-auto">
                                    <span class="text-natural-50">欄位皆為選填</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-8">
                              <div class="mb-4 mb-lg-6">
                                <p class="mb-2">核心專業領域</p>
                                <ul class="list-unstyled mb-0 row gy-2 gx-6">
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="professional"
                                        id="professionalItem1">
                                      <label class="form-check-label" for="professionalItem1">設計/創意</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="professional"
                                        id="professionalItem2">
                                      <label class="form-check-label" for="professionalItem2">科技/程式開發</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="professional"
                                        id="professionalItem3">
                                      <label class="form-check-label" for="professionalItem3">行銷/公關</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="professional"
                                        id="professionalItem4">
                                      <label class="form-check-label" for="professionalItem4">內容創作/寫作</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="professional"
                                        id="professionalItem5">
                                      <label class="form-check-label" for="professionalItem5">顧問/諮詢</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="professional"
                                        id="professionalItem6">
                                      <label class="form-check-label" for="professionalItem6">商業/管理</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="professional"
                                        id="professionalItem7">
                                      <label class="form-check-label" for="professionalItem7">財務/會計</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="professional"
                                        id="professionalItem8">
                                      <label class="form-check-label" for="professionalItem8">教育/培訓</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="professional"
                                        id="professionalItem9">
                                      <label class="form-check-label" for="professionalItem9">法律/合規</label>
                                    </div>
                                  </li>
                                  <li class="col-auto">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="professional"
                                        id="professionalItem10">
                                      <label class="form-check-label" for="professionalItem10">健康/醫療</label>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <div class="mb-4 mb-lg-6">
                                <div class="form-floating">
                                  <textarea class="form-control" placeholder="專業背景和核心競爭力（最多300字）" id="cc"
                                    style="height: 160px; resize: none;"></textarea>
                                  <label for="cc">專業背景和核心競爭力（最多300字）</label>
                                </div>
                              </div>
                              <div class="mb-4 mb-lg-6">
                                <div class="form-floating">
                                  <textarea class="form-control" placeholder="專業技能（最多300字）" id="skill"
                                    style="height: 160px; resize: none;"></textarea>
                                  <label for="skill">專業技能（最多300字）</label>
                                </div>
                              </div>
                              <div class="mb-4 mb-lg-6">
                                <div class="form-floating">
                                  <textarea class="form-control" placeholder="語文能力（最多300字）" id="lang"
                                    style="height: 160px; resize: none;"></textarea>
                                  <label for="lang">語文能力（最多300字）</label>
                                </div>
                              </div>
                              <div class="mb-6 mb-lg-9">
                                <div class="form-floating">
                                  <textarea class="form-control" placeholder="資格證照（最多300字）" id="qc"
                                    style="height: 160px; resize: none;"></textarea>
                                  <label for="qc">資格證照（最多300字）</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="px-0">
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="d-flex align-items-center justify-content-between flex-wrap mb-4">
                                <div class="w-lg-100 text-natural-10 fs-5 fs-lg-4 lh-sm fw-medium mb-0 mb-lg-3">教育背景
                                </div>
                                <div class="row gx-1">
                                  <div class="col-auto">
                                    <span class="text-natural-50">欄位皆為選填</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-8">
                              <div class="mb-4 mb-lg-6">
                                <div class="form-floating">
                                  <textarea class="form-control" placeholder="學歷背景（最多500字）" id="studyBackground"
                                    style="height: 160px; resize: none;"></textarea>
                                  <label for="studyBackground">學歷背景（最多500字）</label>
                                </div>
                              </div>
                              <div class="mb-6 mb-lg-9">
                                <div class="form-floating">
                                  <textarea class="form-control" placeholder="專業培訓與工作坊（最多500字）" id="workshop"
                                    style="height: 160px; resize: none;"></textarea>
                                  <label for="workshop">專業培訓與工作坊（最多500字）</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                      <div class="row justify-content-center gy-4">
                        <div class="col-12 col-lg-auto order-2 order-lg-1">
                          <button type="button" class="btn btn-light btn-icon w-100">匯出 PDF</button>
                        </div>
                        <div class="col-12 col-lg-auto order-1 order-lg-2">
                          <button type="button" class="btn btn-dark btn-icon w-100">儲存更新</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered mx-auto" style="max-width: 480px;">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5 fw-medium" id="changePasswordModalLabel">更新密碼</h1>
                  <button type="button" class="btn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body p-6">
                  <form class="">
                    <div class="form-floating mb-4 mb-lg-6">
                      <input type="password" class="form-control" id="newPassword" placeholder="新密碼"><label
                        for="newPassword">新密碼</label>
                    </div>
                    <div class="form-floating">
                      <input type="password" class="form-control" id="confirmNewPassword" placeholder="再次密碼"><label
                        for="confirmNewPassword">再次密碼</label>
                    </div>
                  </form>
                </div>
                <div class="modal-footer py-4 px-6">
                  <button type="button" class="btn btn-dark btn-icon">更新密碼</button>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>

</html>