<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
    <title>服務方案</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>

    <main>
      <section class="hero position-relative py-9 py-lg-12 d-flex justify-content-center align-items-center">
        <div class="z-2 position-relative container">
          <h2 class="text-center fs-2 fs-lg-1 mb-6 mb-lg-9 fw-bold">服務方案</h2>
          <p class="text-center mw-800 fs-7 fs-lg-6 text-natural-50">我們最全面的服務方案，為您提供從評估、規劃到實踐的完整支持。不再擔心轉型過程中的各種挑戰，我們的專家團隊將全程陪伴，確保您順利實現職業自由。</p>
        </div>
      </section>
      <section></section>
    </main>

    <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
  </body>

</html>